
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.columns {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	min-height: 400px;
}
.ui_column {
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
}
.ui_column.badges_column {
	float: left;
	border-right: 1px solid #ccc;
}
.ui_column.contacts_column {
	float: right;
}
.badge_image {
	float: left;
}
.badge_title {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
.member_box {
	position: relative;
	float: left;
	display: block;
	height: 170px;
	width: 170px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #AAA;
	margin: 12px;
	overflow: hidden;
}
.member_box .avatar {
	display: block;
	height: 170px;
	width: 170px;
}
.member_box .avatar.non_member {
	/* TODO: Default avatar */
}
.member_overlay {
	position: absolute;
	height: 28px;
	width: 100%;
	background-color: rgba(0, 0, 0, .75);
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
	padding: 0 4px;
	line-height: 24px;
	text-align: center;
}
.member_box .display_name {
	top: 0;
}

.main-wrapper:not(.loggedIn),
.login-form.loggedIn {
	display: none;
}

.show_badges {
	cursor: pointer;
}
.member_badges {
	bottom: 0;
}
.member_badges .badges {
	width: 100%;
	height: 100%;
}
.member_badges .badges .cbadge {
	height: 100%;
	float: left;
	padding: 3px;
}
