
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.error {
	color: #F00;
	padding: 12px 0;
}

.app_title {
	width: 100%;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	padding: 6px 0 12px;
	margin-bottom: 12px;
	background-color: rgba(122,124,125, .05);
}
.app_subtitle {
	width: 100%;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding: 12px 0;
}

.main_wrapper {
	margin: 0 auto;
}
.main_wrapper:not(.loggedIn),
.login_form.loggedIn {
	display: none;
}
.login_form {
	width: 400px;
	margin-left: -200px;
	padding-left: 50%;
	box-sizing: initial;
}
.login_form .form-actions .btn {
	width: 100%;
	margin-top: 24px;
}

.columns {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	min-height: 400px;
}
.ui_column {
	text-align: center;
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
}
.ui_column.badges_column {
	float: left;
	border-right: 1px solid #ccc;
}
.ui_column.contacts_column {
	float: right;
}
.badge_image {
	display: inline-block;
}
.badge_title {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
.member_box {
	position: relative;
	display: inline-block;
	height: 170px;
	width: 170px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #AAA;
	margin: 12px;
	overflow: hidden;
}
.member_box .avatar {
	display: block;
	height: 170px;
	width: 170px;
}
.member_box .avatar.non_member {
	/* TODO: Default avatar */
}
.member_overlay {
	position: absolute;
	height: 28px;
	width: 100%;
	background-color: rgba(0, 0, 0, .75);
	overflow: hidden;
	color: #FFF;
	font-weight: bold;
	padding: 0 4px;
	line-height: 24px;
	text-align: center;
}
.member_box .display_name {
	top: 0;
}

.show_badges {
	cursor: pointer;
}
.member_badges {
	bottom: 0;
}
.member_badges .badges {
	width: 100%;
	height: 100%;
}
.member_badges .badges .cbadge {
	height: 100%;
	float: left;
	padding: 3px;
}

.loader {
	position: fixed;
	top: 200px;
	left: 50%;
	margin-left: -50px;
	box-shadow: 1px 1px 1px 5000px rgba(0,0,0,.75) inset, 1px 1px 1px 5000px rgba(0,0,0,.75);
}
